<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">about</a></li>
      <li><a href="{{ '/eem' | prepend: site.baseurl }}">eem</a></li>
      <li><a href="https://github.com/Eflores89/inegiR">inegiR</a></li>
      <li><a href="{{ '/banxicoR' | prepend: site.baseurl }}">banxicoR</a></li>
      <li><a href="{{ '/conapomx' | prepend: site.baseurl }}">conapomx</a></li>
      <li><a href="{{ '/nasadata' | prepend: site.baseurl }}">nasadata</a></li>
    </ul>
  </div>
</nav>
